.App {
    min-width: 640px !important;
    --light-grey: #ecf0f1;
    --bright-green: #031729a9;
    --cidc-blue: #004581b4;
    height: 100vh;
}

.Markdown-width {
    width: 880px;
    margin: auto;
}

.Content {
    padding: 3em;
    min-height: 960px; /* totally arbitrary */
}
